.results-list-container {
  &.ListG {
    .PageListP-items-column:last-of-type {
      grid-template-columns: 2fr;
    }

    .PagePromo-author .byline {
      padding-bottom: 0;
    }
  }

  &.ListA {
    .PageListP-items-column {
      grid-area: 1 / 1 / 2 / 2;

      &:nth-child(2) {
        grid-area: 1 / 2 / 2 / 3;
      }

      &:last-of-type {
        grid-template-columns: 2fr;
      }

      .PagePromo-standard {
        .PagePromo-media {
          display: none;
        }
      }
    }

    .items-row-below {
      grid-area: 2 / 1 / 3 / 3;
    }

    .PagePromo-author .byline {
      padding-bottom: 0;
      margin-bottom: 0;
    }

    .items-row-below {
      display: flex;
      flex-wrap: wrap;

      .PageListH-items-item {
        flex-basis: 25%;
        padding-right: 15px;

        .PagePromo-standard {
          flex-direction: column;
        }

        .PagePromo-media {
          width: 100%;
        }
      }
    }

  }

  &.ListP {
    .PagePromo-title {
      line-height: 1 !important;

      > a {
        font-size: 1.8rem;
      }
    }
    .PagePromo-author .byline {
      padding-bottom: 0;
    }
  }

  &.ListU {
    grid-template-columns: .5fr .25fr .25fr;

    .PageListP-items-column {
      &:nth-child(2) {
        .PageListH-items-item {
          &:first-child {
            border-top: none;
            padding-top: 0;
          }
        }

        .PagePromo-standard {
          flex-direction: column;

          .PagePromo-media {
            width: 100%;
            max-width: none;
          }
        }

        .PagePromo-author .byline {
          padding-bottom: 0;
        }
      }

      &:nth-child(3) {
        display: block;

        .PageListH-items-item {
          border-top: 1px solid var(--color-list-border);

          &:first-child {
            border-top: none;
            padding-top: 0;
          }
        }

        .PagePromo-author .byline {
          padding-bottom: 0;
        }
      }
    }
  }

  &.ListZ {
    grid-auto-columns: 1fr; 
    grid-template-columns: .5fr 0.5fr; 
    grid-template-rows: auto auto;

    .PageListP-items-column {
      &:nth-child(1) {
        grid-area: 1 / 1 / 3 / 2;
      }

      &:nth-child(2) {
        grid-area: 1 / 2 / 2 / 3;

        .PageListH-items-item {
          padding-bottom: 0;
        }

        .PagePromo-author .byline {
          padding-bottom: 0;
          margin-bottom: 0;
        }
      }
    }

    .items-row-below {
      grid-area: 2 / 2 / 3 / 3;
      display: flex;
      flex-wrap: wrap;

      .PageListH-items-item {
        width: 50%;

        &:nth-child(odd) {
          padding-right: 10px;
        }

        &:nth-child(even) {
          padding-left: 10px;
        }
      }

      .PagePromo-standard {
        .PagePromo-media {
          display: none;
        }
      }

      .PagePromo-author .byline {
        padding-bottom: 0;
        margin-bottom: 0;
      }
    }
  }
}
