// Promo module
.GenericPagePromoModule {
  --font: var(--font-1);
  width: 50%;
  padding: 48px 16px;
  text-align: center;
  background-color: #fce487;
  height: fit-content;
  @include respond-up(lg) {
    max-width: 300px;
    width: 100%;
    margin-top: 20px;
  }
  .GenericPagePromoModule-icon {
    margin: 0 auto 24px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }

  .GenericPagePromoModule-title {
    font-size: 2.6rem;
    font-weight: 700;
    font-family: var(--font-3);
    margin-bottom: 10px;
    line-height: 1.2;
  }

  .GenericPagePromoModule-description {
    font-size: 1.8rem;
    font-family: var(--font, var(--font-body));
    line-height: 1.2;
    margin-bottom: 21px;
  }

  .GenericPagePromoModule-CTALink {
    display: inline-block;
    background-color: #fff;
    font-size: 1.9rem;
    letter-spacing: 0;
    padding: 8px 24px;
    text-transform: none;
    border-radius: 2px;
    font-weight: 600;
  }
}
