.story-layout-headline_below {
  .overlay-header {
    .overlay-image {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-content: center;
      text-align: center;
      .logo-overlay {
        position: absolute;
        left: 0;
        top: 0;
        padding: 20px;
        right: 0;
        background-color: transparent;
        text-align: left;
        order: -1;
        a img {
          height: auto;
        }
      }
      .breadcrumbs {
        order: 0;
        padding-top: 46px;
        padding-inline-start: 2rem;
        padding-inline-end: 2rem;
      }
      h1.headline {
        order: 2;
        padding-inline-start: 2rem;
        padding-inline-end: 2rem;
      }
      h2.sub-headline {
        order: 3;
        padding-inline-start: 2rem;
        padding-inline-end: 2rem;
      }
      .byline {
        order: 4;
        padding-inline-start: 2rem;
        padding-inline-end: 2rem;
        border-bottom: 0 none;
      }
      figure.overlay-image {
        order: 10;
        margin: 0;
        padding: 0;
        width: 100%;
        text-align: left;
        picture img {
          width: 100%;
        }
      }
      figcaption {
        text-align: left;
        padding: 0 16px;
        p {
          font-family: var(--font-3);
          font-size: 15px;
          line-height: 1.6;
          display: inline-block;
          font-style: normal;
          font-weight: 500;
          color: #626262;
          font-style: italic;
          span {
            color: #626262;
            font-family: var(--font-1);
            font-size: 15px;
            font-style: italic;
            &::after {
              content: "|";
              display: inline-block;
              height: 14px;
              vertical-align: middle;
              width: 1px;
              text-indent: -999em;
              border-left: 1px solid;
              margin: 0px 8px 0px 4px;
            }
          }
        }
      }
    }
  }

  .main {
    h1.headline,
    h2.sub-headline,
    .byline {
      text-align: center;
    }
  }

  @include respond-down(sm) {
    .overlay-header {
      .overlay-image {
        .logo-overlay {
          padding: 20px;
          position: absolute;
          a img {
            width: 150px;
            height: auto;
          }
        }
      }
    }
  }
}
