@import "../variables";

.Page-headline {
  --font: var(--font-headline);
}

.Page-subHeadline {
  font-size: var(--subhead-1);
  font-weight: 400;
  margin-top: 16px;
}

figure picture img {
  max-width: 100%;
}

.RichTextBody {
  --font: var(--font-rte-body);
  font-family: var(--font, var(--font-1));
  font-size: var(--body-1);
  font-weight: 400;
  line-height: 1.6;

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  h1 {
    font-size: var(--heading-1);
    line-height: 1.2;
  }

  h1,
  h2 {
    font-family: var(--font, var(--font-1));
    font-weight: 600;
    letter-spacing: normal;
  }

  p {
    margin: 20px 0;

    &:first-of-type {
      margin-top: 0;
    }
  }

  a {
    border-bottom: 1px solid var(--color-link-text-hover) !important;
    color: var(--color-link-text);
    &:hover {
      color: var(--color-link-text-hover) !important;
      border-bottom: 0 none !important;
    }
  }
}
