html {
  font-size: 12px;
}
.arcad-feature .arcad-container .arcad.pb-ad-admin {
  font-size: 1.5rem !important;
  line-height: 1.5rem !important;
}
body {
  -moz-osx-font-smoothing: grayscale;
  background: var(--color-site-bg);
  color: var(--color-primary-text);
  font-size: 1rem;
  line-height: 1.6;
  font-family: var(--font-body), Arial, Helvetica, sans-serif;

  a img:active,
  a img:hover,
  a video:active,
  a video:hover,
  a figure:active,
  a figure:hover,
  a picture:active,
  a picture:hover {
    opacity: 1;
  }
}

.hidden {
  display: none;
}

a {
  color: var(--color-link-text);
}

a,
a:hover {
  text-decoration: none;
}

a:hover {
  color: var(--color-link-text-hover);
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}
.custom-layout section {
  margin-right: auto !important;
  margin-left: auto !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
  width: 100%;

  @include respond-up(lg) {
    width: 1100px;
  }
}

.main > .container,
#main > .container {
  margin-left: auto !important;
  margin-right: auto !important;
  @include respond-up(lg) {
    max-width: 730px !important;
  }
}

.ArticlePage .main > .container {
  max-width: 100% !important;
  @include respond-up(lg) {
    max-width: 730px !important;
  }
}
.container {
  max-width: var(--cx-page-width-max);
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  padding-left: 20px;
  padding-right: 20px;
  flex-direction: column;
}

.container {
  max-width: var(--cx-page-width-max);
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  padding-left: 20px;
  padding-right: 20px;
  flex-direction: column;
}

@media only screen and (min-width: 568px) {
  :root {
    --social-text-size: 1.0625rem;
    --body-font-size: 1.7rem;
  }
}

@media only screen and (min-width: 768px) {
  :root {
    --social-text-size: 1.125rem;
    --body-font-size: 1.8rem;
  }
}
@include respond-down(lg) {
  .twoColumn > aside {
    display: none !important;
  }
}

[id^="google_ads_iframe"]:not(:empty)::before {
  font-size: 16px;
  padding: 6px 0 8px 0;
}
