@import "../variables";

.header {
  background-color: var(--color-header-bg);
  width: 100%;
  padding: 0px !important;

  .customheader {
    .Page-header {
      padding: 8px 16px 0 16px;

      @include respond-up(md) {
        padding: 24px 36px;
      }

      .Page-header-wrap {
        max-width: 1084px;
        margin: auto;
        height: 104px;

        .Page-header-bar {
          box-shadow: none;
          display: flex;
          height: auto;
          flex-wrap: wrap;
          flex-direction: row;
          align-content: flex-start;
          align-items: flex-start;
          justify-content: space-between;

          @include respond-up(md) {
            height: 104px;
            flex-wrap: nowrap;
            flex-direction: row;
          }

          .Page-header-bar-logo {
            display: flex;
            align-items: center;
            flex: 0 0 50%;
            order: 1;
            align-self: flex-start;

            @include respond-down(xxs) {
              flex: 0 0 35%;
            }

            @include respond-up(md) {
              flex: 0 0 auto;
            }

            a {
              text-decoration: none;

              .PageLogo-image {
                height: 44px;
                width: 143px;
                margin-right: 12px;
                margin-top: 12px;

                @include respond-down(xxs) {
                  height: auto;
                  width: auto;
                  margin-right: 12px;
                  margin-top: 12px;
                }

                @include respond-up(md) {
                  height: 80px;
                  width: 255px;
                  margin-right: 12px;
                }
              }
            }
          }

          .Page-header-navigation-wrapper {
            margin: 0;
            order: 3;
            flex: 0 0 100%;

            @include respond-up(md) {
              margin-left: 24px;
              flex: 1 1 auto;
              padding: 0;
              height: inherit;
            }

            .Page-header-tagline {
              display: none;

              @include respond-up(md) {
                display: block;
                color: var(--color-header-date-line-text);
                font-style: italic;
                padding-top: 12px;
                font-family: var(--font-3);
                font-size: 1.6rem;
              }
            }

            .Page-header-navigation {
              display: flex;
              width: 100%;
              flex: 100%;
              margin-left: -16px;

              @include respond-up(md) {
                margin-top: 12px;
              }

              .Navigation {
                font-size: 1.8rem;
                color: var(--color-header-text);
                --color-link-text: var(--color-header-text);
                display: flex;
                position: relative;
                z-index: 2;
                width: 100%;
                margin: 6px 0 0 0;

                ul.Navigation-items {
                  display: flex;
                  flex-grow: 1;
                  flex-wrap: wrap;
                  max-width: 100%;
                  overflow: visible;
                  list-style: none;
                  --navColumns: 1;
                  margin: 0;

                  @include respond-up(xs) {
                    --navColumns: 3;
                  }

                  li.Navigation-items-item {
                    display: flex;
                    align-items: center;
                    cursor: pointer;

                    .NavigationItem {
                      padding: 0;
                      margin: 0 8px 0 0;
                      position: relative;
                      height: 50px;
                      display: flex;

                      @include respond-up(xs) {
                        padding: 0px 0 0px 4px;
                        margin: 0 12px 0 0;
                      }

                      &.has-menu:hover {
                        background-color: #393939;

                        svg {
                          color: var(--color-header-link-text-hover) !important;
                          fill: var(--color-header-link-text-hover) !important;
                        }

                        .chevron {
                          color: var(--color-header-link-text-hover);
                        }
                      }

                      .NavigationItem-text {
                        white-space: nowrap;
                        line-height: 1.2;
                        display: flex;
                        padding: 0px 12px 0 10px;
                        font-weight: 600;
                        flex-direction: row;
                        flex-wrap: nowrap;
                        align-content: center;
                        justify-content: flex-start;
                        align-items: center;

                        @include respond-up(xs) {
                          padding: 12px 12px 12px 0px;
                        }

                        span {
                          white-space: nowrap;
                          line-height: 1.2;
                          display: flex;
                          padding: 6px 4px 6px 8px;
                          font-weight: 600;

                          @include respond-up(xs) {
                            padding: 6px 5px 6px 12px;
                          }

                          &:hover {
                            color: var(--color-header-link-text-hover);
                          }
                        }

                        .NavigationItem-more {
                          button {
                            border: 0;
                            background: none;

                            .chevron {
                              width: 14px;
                              height: 9px;
                              color: #fff;
                              position: relative;
                              top: -1px;
                              @include respond-up(xs) {
                                &:hover {
                                  color: var(--color-header-link-text-hover);
                                }
                              }
                            }
                          }
                        }
                      }

                      .NavigationItem-items {
                        display: none;
                        background-color: #393939;
                        left: 0;
                        position: fixed;
                        margin-top: 48px;
                        width: 100%;
                        padding: 0px 0px 0px 0;
                        height: 90vh;
                        overflow-y: auto;

                        @include respond-up(xs) {
                          left: 0;
                          top: 0;
                          padding: 0 10px;
                          position: absolute;
                          width: auto;
                          height: auto;
                          overflow: visible;
                        }

                        &.has-menu:hover {
                          background-color: #393939;

                          > .NavigationItem-text span {
                            color: var(--color-header-link-text-hover);
                          }

                          svg,
                          svg path {
                            color: var(--color-header-link-text-hover) !important;
                            fill: var(--color-header-link-text-hover) !important;
                          }
                        }

                        ul {
                          display: grid;
                          grid-template-columns: repeat(var(--navColumns, 1), 1fr);
                          column-count: 1;
                          padding: 16px 0 16px 0;
                          list-style: none;
                          column-gap: 24px;
                          @include respond-up(xs) {
                            padding: 16px 16px 16px 22px;
                            list-style: none;
                            column-gap: 24px;
                          }
                          ul {
                            padding: 0;
                          }
                          .NavigationItem-items-item:not(.item-more) {
                            min-height: 50px;
                            cursor: pointer;
                            border-bottom: 0 none;

                            @include respond-up(xs) {
                              &:hover {
                                a {
                                  color: var(--color-header-link-text-hover);
                                }
                              }
                            }
                            .NavigationLink {
                              white-space: nowrap;
                              line-height: 1.2;
                              display: flex;
                              padding: 12px 24px 12px 20px;
                              justify-content: left;
                              border-bottom: 1px solid var(--color-header-border);

                              @include respond-up(xs) {
                                padding: 12px 24px 12px 0;
                                border-bottom: 0 none;
                              }

                              &:first-child .NavigationItem-text,
                              &:first-child .NavigationLink {
                                padding-left: 20px;
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }

              .SearchOverlay-search-button {
                display: none;

                @include respond-up(xs) {
                  align-items: center;
                  background: none;
                  border: 0;
                  cursor: pointer;
                  display: flex;
                  justify-content: flex-start;
                  padding: 12px 24px 12px 0;
                  touch-action: manipulation;
                }

                .icon-magnify {
                  fill: var(--color-header-text);
                  height: 16px;
                  width: 16px;
                }

                .sr-only {
                  border: 0;
                  clip: rect(0, 0, 0, 0);
                  height: 1px;
                  margin: -1px;
                  overflow: hidden;
                  padding: 0;
                  position: absolute;
                  width: 1px;
                }

                .close-x {
                  display: none;
                  fill: var(--color-header-text);
                  height: 15px;
                  left: -3px;
                  position: relative;
                  width: 15px;
                }
              }
            }
          }

          .Page-header-end {
            flex: 0 0 50%;
            order: 2;
            height: 45px;
            align-self: flex-end;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-content: center;
            justify-content: flex-end;
            align-items: center;
            gap: 16px;
            margin: 0px 0 -6px 0;

            @include respond-up(md) {
              flex: 0 0 auto;
              order: 3;
              padding-bottom: 16px;
            }

            a {
              font-size: 1.3rem;
              padding: 6px 10px;
              border: 0;
              flex: 0 0 auto;
              align-items: center;
              display: flex;
              flex-direction: row;
              flex-wrap: nowrap;
              align-content: center;
              gap: 8px;
              cursor: pointer;
              &:hover {
                color: var(--color-header-link-text-hover);
              }
              @include respond-up(md) {
                font-size: 1.9rem;
                padding: 8px 16px;
              }
            }

            a.donate-button:hover:before,
            a.newsletter-button:hover:before {
              transform: rotate(-10deg);
            }

            a.donate-button {
              --color-button-hover-text: var(--color-primary-text);
              --color-button-text: var(--color-primary-text);
              --color-button-border: var(--color-header-donate-button-bg);
              background: var(--color-header-donate-button-bg);
              cursor: pointer;
              &:hover {
                color: var(--color-primary-text);
              }
              &:before {
                content: "";
                display: inline-block;
                width: 19px;
                height: 19px;
                background-repeat: no-repeat;
                background-size: contain;
                background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0nMTgnIGhlaWdodD0nMTYnIGZpbGw9J25vbmUnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2Zyc+PHBhdGggZD0nTTE1LjM4MyAxLjMyNWMtMi4yLTEuNS00LjkxNi0uOC02LjM4My45MTdDNy41MzMuNTI1IDQuODE3LS4xODMgMi42MTcgMS4zMjVBNC41NiA0LjU2IDAgMDAuNjY3IDQuOWMtLjExNyAzLjIzMyAyLjc1IDUuODI1IDcuMTI1IDkuOGwuMDgzLjA3NWExLjY2MyAxLjY2MyAwIDAwMi4yNDItLjAwOGwuMDkxLS4wODRjNC4zNzUtMy45NjYgNy4yMzQtNi41NTggNy4xMjUtOS43OTFhNC41NTcgNC41NTcgMCAwMC0xLjk1LTMuNTY3em0tNi4zIDEyLjEzM0w5IDEzLjU0MmwtLjA4My0uMDg0QzQuOTUgOS44NjcgMi4zMzMgNy40OTIgMi4zMzMgNS4wODNjMC0xLjY2NiAxLjI1LTIuOTE2IDIuOTE3LTIuOTE2IDEuMjgzIDAgMi41MzMuODI1IDIuOTc1IDEuOTY2aDEuNTU4Yy40MzQtMS4xNDEgMS42ODQtMS45NjYgMi45NjctMS45NjYgMS42NjcgMCAyLjkxNyAxLjI1IDIuOTE3IDIuOTE2IDAgMi40MDktMi42MTcgNC43ODQtNi41ODQgOC4zNzV6JyBmaWxsPScjMzkzOTM5Jy8+PC9zdmc+);
              }
            }

            a.newsletter-button {
              --color-button-hover-text: var(--color-primary-text);
              --color-button-text: var(--color-primary-text);
              --color-button-border: var(--color-header-newsletter-button-bg);
              background: var(--color-header-newsletter-button-bg);
              cursor: pointer;
              &:hover {
                color: var(--color-primary-text);
              }
              &:before {
                content: "";
                display: inline-block;
                width: 19px;
                height: 19px;
                background-repeat: no-repeat;
                background-size: contain;
                background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0nMTgnIGhlaWdodD0nMTQnIGZpbGw9J25vbmUnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2Zyc+PHBhdGggZD0nTTE1LjY2Ny4zMzNIMi4zMzNDMS40MTcuMzMzLjY3NSAxLjA4My42NzUgMkwuNjY3IDEyYzAgLjkxNy43NSAxLjY2NyAxLjY2NiAxLjY2N2gxMy4zMzRjLjkxNiAwIDEuNjY2LS43NSAxLjY2Ni0xLjY2N1YyYzAtLjkxNy0uNzUtMS42NjctMS42NjYtMS42Njd6TTE0LjgzMyAxMkgzLjE2N2EuODM2LjgzNiAwIDAxLS44MzQtLjgzM3YtNy41bDUuNzg0IDMuNjE2YTEuNjUgMS42NSAwIDAwMS43NjYgMGw1Ljc4NC0zLjYxNnY3LjVhLjgzNi44MzYgMCAwMS0uODM0LjgzM3pNOSA2LjE2N0wyLjMzMyAyaDEzLjMzNEw5IDYuMTY3eicgZmlsbD0nIzM5MzkzOScvPjwvc3ZnPg==);
              }
            }
          }
        }
      }
    }

    @include respond-down(xs) {
      li#item-more
        .NavigationItem.has-menu
        .NavigationItem-items
        li.NavigationItem-items-item
        .NavigationItem.has-menu {
        height: auto !important;
        display: flex !important;
        flex-direction: column !important;
        flex-wrap: nowrap !important;
      }
      li#item-more
        .NavigationItem.has-menu
        .NavigationItem-items
        li.NavigationItem-items-item
        .NavigationItem.has-menu
        .NavigationItem-items {
        margin-top: 0 !important;
        height: auto !important;
      }
    }
    #item-more,
    .item-more {
      display: block !important;

      @include respond-down(xs) {
        .NavigationItem-items .NavigationItem .NavigationItem.has-menu {
          flex-direction: column;
          height: auto !important;

          li .NavigationItem-items {
            margin: 0 !important;
            height: auto !important;
          }
        }
        a:hover {
          color: var(--color-header-link-text-hover);
        }
      }

      .NavigationItem-items .NavigationItem-items {
        position: relative;

        ul {
          .NavigationItem-items-item {
            .NavigationLink {
              &:first-child .NavigationItem-text,
              &:first-child .NavigationLink {
                padding-left: 20px;
              }
            }
          }
        }
      }

      @include respond-up(xxs) {
        display: none !important;
      }
    }

    .item-about,
    .item-topics {
      display: none !important;
      a:hover {
        color: var(--color-header-link-text-hover);
      }
      @include respond-up(xxs) {
        display: block !important;
      }
    }
  }
}
