.oneColumn {
  .layout-section .col {
    max-width: 730px;
  }

  .overlay-header {
    position: relative;

    .overlay-image {
      .logo-overlay {
        position: absolute;
        left: 40px;
        top: 30px;

        a img {
          width: 175px;
          height: 50px;
          //filter: invert(1) brightness(3);
        }
      }
    }
  }
}
