.page-sideBySide {
  // padding-left: 32px;
  // padding-right: 32px;
  // font-family: var(--font-body), Arial, Helvetica, sans-serif;

  h2 {
    font-family: var(--font-body), Arial, Helvetica, sans-serif;
    font-size: 26px;
    line-height: 1.2;
    margin-bottom: 10px;
    font-weight: 600;
  }

  section {
    padding: 50px 32px;
    max-width: 1084px;
    margin: 0 auto;

    .RepublishPage-eyebrow {
      font-size: var(--eyebrowFontSize);
      line-height: 1.2;
    }

    .fullWidth1 {
      width: 100%;
      padding-left: 32px;
      padding-right: 32px;
    }

    main {
      .RichTextBody {
        ul {
          list-style: disc;
          padding: 0 0 0 20px;
          margin: 10px 0 10px 10px;
        }
        ul li {
          margin-bottom: 16px;
        }
      }
    }

    aside {
      position: relative;
      .RepublishPage-guidelines h2,
      .republishForm h2 {
        font-size: var(--eyebrowFontSize);
        line-height: 1.2;
        margin-bottom: 10px;
        font-weight: 600;
      }
      .republishForm p {
        font-size: 1.7rem;
        line-height: 1.6;
      }
    }
  }

  @include respond-up(lg) {
    .sideBySide {
      display: grid;
      grid-gap: 28px;
      grid-template-columns: 1fr 1fr;
    }
  }

  @include respond-up(sm) {
    .sideBySide aside,
    .sideBySide main {
      padding: 80px 0 0;
    }
  }

  textarea {
    width: 100%;
    padding: 16px;
    border: 2px solid #c7c7c7;
    overflow: scroll;
    margin-bottom: 36px;
    height: 50vh;
  }
}
