.Page-twoColumn {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: minmax(auto, 800px) 300px;

  @include respond-down(lg) {
    display: block;
  }
}

.Page-twoColumn .Page-aside {
  margin-top: 0;
}
