
# Votebeat configs
# sandbox
BASE_URL=https://civicnewscompany-votebeat-sandbox.web.arc-cdn.net
# stating
#BASE_URL=https://civicnewscompany-votebeat-stg.web.arc-cdn.net
# production
#BASE_URL=https://civicnewscompany-votebeat-prd.web.arc-cdn.net
