.breadcrumbs {
  padding-top: 16px;
  letter-spacing: 1px;
  margin-bottom: 12px;

  a {
    :first-child {
      padding-left: 0;
    }
    font-family: var(--font-1);
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 24px;
    color: var(--color-section-text);
  }
}
