:root {
  --color-primary-theme: #babbe0;
  --color-primary-text-theme: #393939;
  --color-secondary-text-theme: #393939;
  --color-tertiary-text-theme: #6c6c6c;
  --color-border-theme: #dfdfdf;
  --color-header-bg-theme: #544459;
  --color-header-secondary-bg-theme: #000;
  --color-header-search-overlay-bg-theme: #f8f8f8;
  --color-header-text-theme: #fff;
  --color-header-bg-theme: #544459;
  --color-header-border-theme: #544459;
  --color-header-bottom-border-theme: #544459;
  --color-header-date-line-text-theme: #babbe0;
  --color-header-donate-button-bg-theme: #fce487;
  --color-header-newsletter-button-bg-theme: #f5b362;
  --color-footer-bg-theme: #544459;
  --color-footer-text-theme: #e0e0e0;
  --color-footer-link-theme: #ffffff;
  --color-footer-link-hover-theme: #d1edee;
  --color-banner-bg-theme: #b0e4ce;
  --color-banner-text-theme: #000000;
  --color-banner-link-text-theme: #393939;
  --color-banner-link-text-hover-theme: #393939;
  --color-link-text-theme: #544459;
  --color-link-text-hover-theme: #735a60;
  --color-link-underline-theme: #178287;
  --color-pull-quote-theme: #178287;
  --color-pull-quote-border-theme: #FFD373;
  --color-horizontal-rule-theme: #F5F5F5;
  --color-sidebar-bg-color-theme: #F5F5F5;
  --color-link-text-hover-theme: #735a60;
  --color-squiggly: #FFCC5B;
  --color-button-bg-theme: #544459;
  --color-button-hover-bg-theme: #735a60;
  --color-button-hover-text-theme: #fff;
  --color-list-border-theme: #e7e7e8;
  --color-table-head-bg-color-theme: #178287;
  --color-table-head-text-color-theme: #ffffff;
  --color-bg-linkset-items: #d1edee;
  --color-bg-linkset-items-center: #544459;
  --color-bg-linkset-items-hover: #e7feff;
  --color-bg-linkset-items-center-hover: #fbfbfb;
  --color-bg-checkbox-largebox: #d1edee;
  --color-gray: #dddddd;
  --color-dark-gray: #333333;
  --color-bg-toaster: #f5b362;
  --color-text-toaster: #393939;
  --color-button-bg-toaster: #ffffff;
  --color-button-hover-bg-toaster: #000000;
  --color-text-button-toaster: #000000;
  --color-text-hover-button-toaster: #ffffff;
  --color-text-link-toaster: #393939;
  --color-text-hover-link-toaster: #d1edee;
  --color-text-promo-author-byline: #5e5e5e;
  --font-1: "Barlow Condensed";
  --font-2: "Barlow Condensed";
  --font-3: "IBM Plex Serif";
  --font-4: "farnham-headline";
  --font-body: var(--font-1);
  --font-headline: var(--font-1);
  --font-subheading: var(--font-1);
  --font-list-title: var(--font-1);
  --font-promo-title: var(--font-1);
  --font-promo-description: var(--font-1);
  --font-pull-quote: var(--font-1);
  --font-related-list: var(--font-1);
  --font-rating-card: var(--font-2);
  --font-table: var(--font-1);
  --font-action-box-title: var(--font-3);
  --font-action-box-description: var(--font-3);
  --font-caption: var(--font-1);
  --font-credit: var(--font-3);
  --body-1: 1.8rem;
  --quote-1: 2.4rem;
  --subhead-1: 1.8rem;
  --byline-1-large: 1.3rem;
  --byline-1: 1.6rem;
  --heading-1: 4.394rem;
  --heading-2: 3rem;
  --heading-3: 2.812rem;
  --heading-4: 2.2rem;
  --heading-5: 1.8rem;
  --subhead-1-large: 1.8rem;
  --title-1: 4.4rem;
  --title-1-large: 4rem;
  --title-1-extra-large: 6rem;
  --title-2: 2.4rem;
  --title-3: 3.5rem;
  --title-8: 2.5rem;
  --description-2: 1.8rem;
  --category-1: 1.5rem;
  --quote-1: 2.6rem;
  --subhead-1: 1.8rem;
  --subhead-1-large: 2.2rem;
  --title-1: 4.4rem;
  --title-1-large: 5.4rem;
  --title-1-extra-large: 12rem;
  --title-2: 3rem;
  --title-5: 1.6rem;
}

html {
  font-size: 12px;
}

body {
  -moz-osx-font-smoothing: grayscale;
  background: var(--color-site-bg);
  color: var(--color-primary-text);
  font-size: 1.2rem;
  line-height: 1.6;
  font-family: var(--font-body), Arial, Helvetica, sans-serif;
}

a {
  color: var(--color-link-text);
}

a,
a:hover {
  text-decoration: none;
}

a:hover {
  color: var(--color-link-text-hover);
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

:root {
  --color-primary-theme: #babbe0;
  --color-primary-text-theme: #393939;
  --color-secondary-text-theme: #393939;
  --color-tertiary-text-theme: #6c6c6c;
  --color-border-theme: #dfdfdf;
  --color-header-bg-theme: #544459;
  --color-header-secondary-bg-theme: #000;
  --color-header-search-overlay-bg-theme: #f8f8f8;
  --color-header-text-theme: #fff;
  --color-header-bg-theme: #544459;
  --color-header-border-theme: #544459;
  --color-header-bottom-border-theme: #544459;
  --color-header-date-line-text-theme: #babbe0;
  --color-header-donate-button-bg-theme: #fce487;
  --color-header-newsletter-button-bg-theme: #f5b362;
  --color-footer-bg-theme: #544459;
  --color-footer-text-theme: #e0e0e0;
  --color-footer-link-theme: #ffffff;
  --color-footer-link-hover-theme: #d1edee;
  --color-banner-bg-theme: #b0e4ce;
  --color-banner-text-theme: #000000;
  --color-banner-link-text-theme: #393939;
  --color-banner-link-text-hover-theme: #393939;
  --color-link-text-theme: #544459;
  --color-link-text-hover-theme: #735a60;
  --color-link-underline-theme: #178287;
  --color-pull-quote-theme: #178287;
  --color-pull-quote-border-theme: #FFD373;
  --color-horizontal-rule-theme: #F5F5F5;
  --color-sidebar-bg-color-theme: #F5F5F5;
  --color-link-text-hover-theme: #735a60;
  --color-squiggly: #FFCC5B;
  --color-button-bg-theme: #544459;
  --color-button-hover-bg-theme: #735a60;
  --color-button-hover-text-theme: #fff;
  --color-list-border-theme: #e7e7e8;
  --color-table-head-bg-color-theme: #178287;
  --color-table-head-text-color-theme: #ffffff;
  --color-bg-linkset-items: #d1edee;
  --color-bg-linkset-items-center: #544459;
  --color-bg-linkset-items-hover: #e7feff;
  --color-bg-linkset-items-center-hover: #fbfbfb;
  --color-bg-checkbox-largebox: #d1edee;
  --color-gray: #dddddd;
  --color-dark-gray: #333333;
  --color-bg-toaster: #f5b362;
  --color-text-toaster: #393939;
  --color-button-bg-toaster: #ffffff;
  --color-button-hover-bg-toaster: #000000;
  --color-text-button-toaster: #000000;
  --color-text-hover-button-toaster: #ffffff;
  --color-text-link-toaster: #393939;
  --color-text-hover-link-toaster: #d1edee;
  --color-text-promo-author-byline: #5e5e5e;
  --font-1: "Barlow Condensed";
  --font-2: "Barlow Condensed";
  --font-3: "IBM Plex Serif";
  --font-4: "farnham-headline";
  --font-body: var(--font-1);
  --font-headline: var(--font-1);
  --font-subheading: var(--font-1);
  --font-list-title: var(--font-1);
  --font-promo-title: var(--font-1);
  --font-promo-description: var(--font-1);
  --font-pull-quote: var(--font-1);
  --font-related-list: var(--font-1);
  --font-rating-card: var(--font-2);
  --font-table: var(--font-1);
  --font-action-box-title: var(--font-3);
  --font-action-box-description: var(--font-3);
  --font-caption: var(--font-1);
  --font-credit: var(--font-3);
  --body-1: 1.8rem;
  --quote-1: 2.4rem;
  --subhead-1: 1.8rem;
  --byline-1-large: 1.3rem;
  --byline-1: 1.6rem;
  --heading-1: 4.394rem;
  --heading-2: 3rem;
  --heading-3: 2.812rem;
  --heading-4: 2.2rem;
  --heading-5: 1.8rem;
  --subhead-1-large: 1.8rem;
  --title-1: 4.4rem;
  --title-1-large: 4rem;
  --title-1-extra-large: 6rem;
  --title-2: 2.4rem;
  --title-3: 3.5rem;
  --title-8: 2.5rem;
  --description-2: 1.8rem;
  --category-1: 1.5rem;
  --quote-1: 2.6rem;
  --subhead-1: 1.8rem;
  --subhead-1-large: 2.2rem;
  --title-1: 4.4rem;
  --title-1-large: 5.4rem;
  --title-1-extra-large: 12rem;
  --title-2: 3rem;
  --title-5: 1.6rem;
}

.header {
  background-color: var(--color-header-bg-theme);
  width: 100%;
  padding: 0px !important;
}

.header .customheader.sticky {
  position: sticky;
  top: 0;
  z-index: 10;
}

.Page-footer {
  --color-link-text: var(--color-footer-link);
  --color-link-text-hover: var(--color-footer-link-hover);
  --color-primary-text: var(--color-footer-text);
  background: var(--color-footer-bg);
  color: var(--color-footer-text);
  padding-top: 16px;
}

.Page-footer-container {
  width: 100%;
  max-width: 1084px;
  margin: 0 auto;
  display: block;
  text-align: center;
}

.Page-footer-container-section {
  font-size: var(--font-size);
  padding: 8px 16px;
  line-height: 1.6;
}

.Page-footer-container-section ul li a {
  font-size: var(--font-size);
  font-weight: 400;
}

.Page-footer-container-section a {
  -webkit-font-smoothing: auto;
}

.Page-footer-container-auth a {
  display: block;
  margin: 0 0 8px 3px;
  font-family: var(--font, var(--font-1));
}

.Page-footer-container-logo img {
  height: auto;
  max-width: 200px;
  margin: 0 auto 32px;
}

.Page-footer-container-navigation {
  padding: 0;
  margin: 0 0 8px;
}

.Page-footer-container-navigation ul {
  margin-bottom: 8px;
}

.Page-footer-container-copyright {
  padding-top: 8px;
  font-size: 1rem;
  border-top: 1px solid var(--color-footer-text);
}

.Page-footer[data-footer-slim] {
  padding-top: 30px;
  padding-bottom: 30px;
}

.Page-footer[data-footer-slim] .Footer-contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Page-footer[data-footer-slim] .Footer-logo img {
  max-width: 130px;
}

.Page-footer[data-footer-slim] .Footer-disclaimer {
  margin-top: 20px;
  color: var(--color-footer-text);
  font-weight: 400;
}

.Page-footer[data-footer-slim] .Footer-disclaimer a {
  color: var(--color-primary);
}

@media only screen and (min-width: 768px) {
  .Page-footer-container {
    display: table;
  }

  .Page-footer-container-section {
    display: table-cell;
    text-align: left;
    vertical-align: middle;
  }

  .Page-footer-container-auth {
    width: 290px;
    text-align: right;
  }

  .Page-footer-container-logo img {
    margin: 0 0 32px;
  }

  .Page-footer-container-copyright {
    padding: 0;
  }

  .Page-footer[data-footer-slim] .Footer-disclaimer {
    margin-top: 0;
  }

  .Page-footer[data-footer-slim] .Footer-contentWrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 1100px) {
  .Page-footer .Page-footer-container-section {
    padding-left: 0;
    padding-right: 0;
  }
}

:root {
  --color-primary-theme: #babbe0;
  --color-primary-text-theme: #393939;
  --color-secondary-text-theme: #393939;
  --color-tertiary-text-theme: #6c6c6c;
  --color-border-theme: #dfdfdf;
  --color-header-bg-theme: #544459;
  --color-header-secondary-bg-theme: #000;
  --color-header-search-overlay-bg-theme: #f8f8f8;
  --color-header-text-theme: #fff;
  --color-header-bg-theme: #544459;
  --color-header-border-theme: #544459;
  --color-header-bottom-border-theme: #544459;
  --color-header-date-line-text-theme: #babbe0;
  --color-header-donate-button-bg-theme: #fce487;
  --color-header-newsletter-button-bg-theme: #f5b362;
  --color-footer-bg-theme: #544459;
  --color-footer-text-theme: #e0e0e0;
  --color-footer-link-theme: #ffffff;
  --color-footer-link-hover-theme: #d1edee;
  --color-banner-bg-theme: #b0e4ce;
  --color-banner-text-theme: #000000;
  --color-banner-link-text-theme: #393939;
  --color-banner-link-text-hover-theme: #393939;
  --color-link-text-theme: #544459;
  --color-link-text-hover-theme: #735a60;
  --color-link-underline-theme: #178287;
  --color-pull-quote-theme: #178287;
  --color-pull-quote-border-theme: #FFD373;
  --color-horizontal-rule-theme: #F5F5F5;
  --color-sidebar-bg-color-theme: #F5F5F5;
  --color-link-text-hover-theme: #735a60;
  --color-squiggly: #FFCC5B;
  --color-button-bg-theme: #544459;
  --color-button-hover-bg-theme: #735a60;
  --color-button-hover-text-theme: #fff;
  --color-list-border-theme: #e7e7e8;
  --color-table-head-bg-color-theme: #178287;
  --color-table-head-text-color-theme: #ffffff;
  --color-bg-linkset-items: #d1edee;
  --color-bg-linkset-items-center: #544459;
  --color-bg-linkset-items-hover: #e7feff;
  --color-bg-linkset-items-center-hover: #fbfbfb;
  --color-bg-checkbox-largebox: #d1edee;
  --color-gray: #dddddd;
  --color-dark-gray: #333333;
  --color-bg-toaster: #f5b362;
  --color-text-toaster: #393939;
  --color-button-bg-toaster: #ffffff;
  --color-button-hover-bg-toaster: #000000;
  --color-text-button-toaster: #000000;
  --color-text-hover-button-toaster: #ffffff;
  --color-text-link-toaster: #393939;
  --color-text-hover-link-toaster: #d1edee;
  --color-text-promo-author-byline: #5e5e5e;
  --font-1: "Barlow Condensed";
  --font-2: "Barlow Condensed";
  --font-3: "IBM Plex Serif";
  --font-4: "farnham-headline";
  --font-body: var(--font-1);
  --font-headline: var(--font-1);
  --font-subheading: var(--font-1);
  --font-list-title: var(--font-1);
  --font-promo-title: var(--font-1);
  --font-promo-description: var(--font-1);
  --font-pull-quote: var(--font-1);
  --font-related-list: var(--font-1);
  --font-rating-card: var(--font-2);
  --font-table: var(--font-1);
  --font-action-box-title: var(--font-3);
  --font-action-box-description: var(--font-3);
  --font-caption: var(--font-1);
  --font-credit: var(--font-3);
  --body-1: 1.8rem;
  --quote-1: 2.4rem;
  --subhead-1: 1.8rem;
  --byline-1-large: 1.3rem;
  --byline-1: 1.6rem;
  --heading-1: 4.394rem;
  --heading-2: 3rem;
  --heading-3: 2.812rem;
  --heading-4: 2.2rem;
  --heading-5: 1.8rem;
  --subhead-1-large: 1.8rem;
  --title-1: 4.4rem;
  --title-1-large: 4rem;
  --title-1-extra-large: 6rem;
  --title-2: 2.4rem;
  --title-3: 3.5rem;
  --title-8: 2.5rem;
  --description-2: 1.8rem;
  --category-1: 1.5rem;
  --quote-1: 2.6rem;
  --subhead-1: 1.8rem;
  --subhead-1-large: 2.2rem;
  --title-1: 4.4rem;
  --title-1-large: 5.4rem;
  --title-1-extra-large: 12rem;
  --title-2: 3rem;
  --title-5: 1.6rem;
}

.Page-headline {
  --font: var(--font-headline);
}

.Page-subHeadline {
  font-size: var(--subhead-1);
  font-weight: 400;
  margin-top: 16px;
}

/* Example - /pages/about-votebeat */
.RichTextBody {
  --font: var(--font-rte-body);
  font-family: var(--font, var(--font-1));
  font-size: var(--body-1);
  font-weight: 400;
  line-height: 1.6;
}

.RichTextBody:after {
  content: "";
  display: table;
  clear: both;
}

.RichTextBody h1 {
  font-size: var(--heading-1);
  line-height: 1.2;
  font-size: 3rem;
}

.RichTextBody h1,
.RichTextBody h2 {
  font-family: var(--font, var(--font-1));
  font-weight: 600;
  letter-spacing: normal;
}

.RichTextBody p {
  margin: 20px 0;
}

.RichTextBody p:first-of-type {
  margin-top: 0;
}

.RichTextBody a {
  border-bottom: 1px solid #AE610C !important;
  color: #393939;
}

/*# sourceMappingURL=votebeat.css.map */