.PageList-header-squiggly {
  display: block;
  height: 11px;
  left: 0;
  margin-bottom: 8px;
  top: 0;
  width: 44px;
  fill: var(--color-squiggly);
}

.PageList-header-title {
  --font: var(--font-list-title);
  font-family: var(--font, var(--font-1));
  font-size: var(--title-2);
  letter-spacing: normal;
  line-height: 1.25;
  font-weight: 600;
  font-weight: 400;
  margin-bottom: 16px;
  color: var(--titleColor, var(--color-list-title));
}

// disable see-more buttons on the articles
.content-story .see-more {
  display: none;
}

// hide fullscreen button on images
.btn-full-screen {
  display: none !important;
}

h1.headline {
  font-family: var(--font, var(--font-1));
  font-size: var(--title-1);
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.2;
}

h2.sub-headline {
  font-family: var(--font, var(--font-1));
  letter-spacing: normal;
  line-height: 1.25;
  font-size: var(--subhead-1);
  font-weight: 400;
  margin-top: 16px;
  margin-bottom: 0px !important;
}

.article-body-wrapper {
  p.body-paragraph {
    --font: var(--font-rte-body);
    font-family: var(--font, var(--font-1));
    font-size: var(--body-1);
    font-weight: 400;
    line-height: 1.6;
  }
}

.lead-art-wrapper figcaption {
  border-bottom: 1px solid var(--color-border);
}

figcaption {
  padding: 8px 0px;
  p {
    opacity: 0.75;
    font-family: var(--font-credit);
    font-style: normal;
    font-size: 1.35rem;

    span {
      font-family: var(--font-caption, var(--font-1));
      font-size: 1.5rem !important;
      line-height: 1.6;
    }
  }
}

aside div:last-child {
  position: sticky;
  top: 65px;
}
