h1.section-title {
  text-align: center;
  font-family: var(--font-1);
  font-size: var(--title-1);
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.2;
}

h2.section-tagline {
  text-align: center;
  padding: 0 20px;
  font-family: var(--font-3);
  font-size: var(--page-description);
  font-weight: 400;
  margin-bottom: 50px;

  @include respond-up(lg) {
    padding: 0 100px;
  }
}
